# Pandas by CMS 1

[Pandas Tutorial by Corey Schafer](https://youtube.com/playlist?list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&si=LtUgmMRfhZj2wX2C)

In [1]:
import pandas as pd

16

In [ ]:
score = 100

Grade A

In [ ]:
def functionName(argument):
    pass

In [12]:
def grade(score):
    if score < 50 :
        return "Fail"
    elif score < 80:
        return "Grade C"
    elif score < 90: 
        return "Grade B"
    else:   
        return "Grade A"

In [17]:
student_scores = {
    "Tom": 40,
    "Jerry": 60,
    "Spike": 90,
}

student_scores

{'Tom': 40, 'Jerry': 60, 'Spike': 90}

In [22]:
grade(student_scores["Tom"])
grade(student_scores["Jerry"])

'Grade C'

In [20]:
for student, score in student_scores.items():
    print(f"{student}: {grade(score)}")

Tom: Fail
Jerry: Grade C
Spike: Grade A

In [23]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [25]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

## Location

In [4]:
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

## Index

In [5]:
df = df.set_index("first")
df

          last                    email
first
Corey  Schafer  CoreyMSchafer@gmail.com
Jane       Doe        JaneDoe@email.com
John       Doe        JohnDoe@email.com

In [6]:
df.loc["Corey"] # Search by Index (rows)

last                     Schafer
email    CoreyMSchafer@gmail.com
Name: Corey, dtype: object

In [7]:
df.iloc[0] # Integer location

last                     Schafer
email    CoreyMSchafer@gmail.com
Name: Corey, dtype: object

## Filter

In [8]:
df["last"] == "Doe" # Series

first
Corey    False
Jane      True
John      True
Name: last, dtype: bool

In [9]:
df[df["last"] == "Doe"]

      last              email
first
Jane   Doe  JaneDoe@email.com
John   Doe  JohnDoe@email.com

## Rename

In [13]:
df.columns

Index(['last', 'email'], dtype='object')

In [25]:
df.columns = ["last_name", "email"]
df.columns

Index(['last_name', 'email'], dtype='object')

In [27]:
# To Upper
df.columns = [x.upper() for x in df.columns]
df.columns

Index(['LAST_NAME', 'EMAIL'], dtype='object')

In [33]:
df = df.rename(columns={"LAST_NAME": "last"})
df.columns

Index(['last', 'EMAIL'], dtype='object')

In [35]:
df

          last                    EMAIL
first
Corey  Schafer  CoreyMSchafer@gmail.com
Jane       Doe        JaneDoe@email.com
John       Doe        JohnDoe@email.com

In [39]:
df.loc["Jane"]

last                   Doe
EMAIL    JaneDoe@email.com
Name: Jane, dtype: object