# Pandas Data Frame (filter)

In [74]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from pyhere import here
from palmerpenguins import load_penguins

In [75]:
titanic = pd.read_csv(here("data/titanic/titanic.csv"))
penguins = load_penguins()

## Filter rows with Regex

In [17]:
df = pd.DataFrame({"First": ["Mary", "James"], "Sur": ["Pop", "Bond"]})

In [32]:
df[df['First'].str.contains('Ma', regex=True)]

  First  Sur
0  Mary  Pop

In [34]:
df[df['First'].str.contains('ma', case=False)]

  First  Sur
0  Mary  Pop

## Filter Multiple Columes

### Manual Method

In [35]:
df = pd.DataFrame({"First": ["Mary", "James"], "Sur": ["Pop", "Bond"]})

query_text = "Po"

df[df['First'].str.contains(query_text, case=False) | df['Sur'].str.contains(query_text, case=False)]

  First  Sur
0  Mary  Pop

### Automatic method

In [66]:
# Create the DataFrame
df = pd.DataFrame({"First": ["Mary", "James"], "Sur": ["Pop", "Bond"]})

# Define the query text
query_text = "Po"

# Create a mask for each column and combine them using 'any' along the columns
mask = df.apply(lambda column: column.str.contains(query_text, case=False)).any(axis=1)

# Filter the DataFrame using the combined mask
filtered_df = df[mask]
filtered_df

  First  Sur
0  Mary  Pop

In [71]:
def query_any_column_df(df, query_text: str, case=False):
    import pandas as pd
    # Create a mask for each column and combine them using 'any' along the columns
    mask = df.apply(lambda column: column.str.contains(query_text, case=case)).any(axis=1)

    # Filter the DataFrame using the combined mask
    filtered_df = df[mask]
    return filtered_df

In [72]:
query_any_column_df(df, "Ma")

  First  Sur
0  Mary  Pop

In [94]:
df_zero = query_any_column_df(df, "0")

In [97]:
df_zero.shape

(0, 2)

In [86]:
query_any_column_df(penguins[["species", "island", "sex"]], "Chin")

       species  ...     sex
276  Chinstrap  ...  female
277  Chinstrap  ...    male
278  Chinstrap  ...    male
279  Chinstrap  ...  female
280  Chinstrap  ...    male
..         ...  ...     ...
339  Chinstrap  ...    male
340  Chinstrap  ...  female
341  Chinstrap  ...    male
342  Chinstrap  ...    male
343  Chinstrap  ...  female

[68 rows x 3 columns]

In [63]:
df.apply(lambda column: column.str.contains(query_text, case=False))

   First    Sur
0  False   True
1  False  False