# Rename DF

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col one':[100, 200], 'col two':[300, 400]})
df

   col one  col two
0      100      300
1      200      400

## `df.rename()` Basic

In [3]:
df.rename({'col one':'col_one', 'col two':'col_two'}, axis='columns')

   col_one  col_two
0      100      300
1      200      400

## Rename from another DF

In [5]:
df2 = pd.DataFrame({'Col A':[100, 200], 'Col B':[300, 400]})
df2

   Col A  Col B
0    100    300
1    200    400

In [7]:
df_variable = pd.DataFrame({"OldName": ["Col A", "Col B"],
                            "NewName": ["A", "B"]})
df_variable

  OldName NewName
0   Col A       A
1   Col B       B

In [18]:
dict(zip(df_variable["OldName"], df_variable["NewName"]))

{'Col A': 'A', 'Col B': 'B'}

In [19]:
df2.rename(dict(zip(df_variable["OldName"], df_variable["NewName"])), axis = 'columns')

     A    B
0  100  300
1  200  400