# Pandas Series

In [2]:
import pandas as pd
from pandas import Series, DataFrame

### Series Creation

In [24]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [10]:
# Array Representation
obj.array
type(obj.array)

# Index
obj.index
type(obj.index)

pandas.core.indexes.range.RangeIndex

### Series with index

In [11]:
obj2 = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])
obj2

# Index
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

From `Dict`

In [12]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Back to `Dict`, `List`, etc.

In [13]:
obj3.to_dict()
obj3.to_list()

[35000, 71000, 16000, 5000]

### Subset Series

In [14]:
# Position
obj2[0] 

# Index
obj2["d"]

# list of indices
obj2[["d", "a"]]

# Logical
obj2[obj2 > 0]

# Assign
obj2["c"] = 10
obj2

/var/folders/70/7wmmf6t55cb84bfx9g1c1k1m0000gn/T/ipykernel_71085/748481342.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obj2[0]

d     4
b     7
a    -5
c    10
dtype: int64

### Vectorized Operation

In [15]:
obj2 * 2

d     8
b    14
a   -10
c    20
dtype: int64

In [16]:
# Series is as a fixed-length, ordered dictionary
"b" in obj2

True

### Missing Value

In [17]:
x = pd.Series([1, 2, None])
# Check NA
x.isna()
x.notna()

0     True
1     True
2    False
dtype: bool

### Auto-align arithmatic

In [18]:
states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = pd.Series(sdata, index=states)
obj4

In [22]:
# Data alignment features
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

### `name` Attribute

In [23]:
obj4.name = "population"
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

## Series to DF

In [3]:
s1 = pd.Series({"A": 1, "B": 2})
s2 = pd.Series({"A": 3, "B": 4})

df = pd.DataFrame([s1, s2])
df

   A  B
0  1  2
1  3  4